<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="xtext"
            description="Xtext"
            language="Xtext"
            derivedFrom="DynamicRoot"
            validator="Xtext.XtextValidator"
            validatorClass="Xtext.XtextValidator"
      ></language>
   </extension>
   <extension
         id="Xtext.parser"
         name="Xtext Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="Xtext.XtextParseController"
            language="Xtext">
      </parser>
   </extension>    
</plugin>
